:root {
  --ifm-color-primary: #0f766e;
  --ifm-color-primary-dark: #115e59;
  --ifm-color-primary-darker: #134e4a;
  --ifm-color-primary-darkest: #042f2e;
  --ifm-color-primary-light: #14b8a6;
  --ifm-color-primary-lighter: #2dd4bf;
  --ifm-color-primary-lightest: #5eead4;
  --ifm-code-font-size: 95%;
}

.theme-doc-markdown {
  max-width: 900px;
}

pre {
  border-radius: 8px;
}

